@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 50%;
  display: flex;
  padding-bottom: 30px;
  margin-left: 300px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #6FAFF7;
  border-right: none;
  /* padding: 5px;
  height: 20px; */
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(103, 110, 107);
}

.searchTerm:focus{
  color: rgb(4, 145, 163);
}

.searchButton {
  width: 40px;
  height: 39px;
  border: 1px solid #6FAFF7;
  background: #6FAFF7;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 68%;
right: 168PX;

  margin-left: 35%;
  /* transform: translate(-50%, -50%); */
}
